In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
data = {
    "alder": [34, 45, 29, 50, 38],
    "ansiennitet": [5, 10, 2, 20, 8],
    "sykefravær": [3, 0, 5, 1, 2]
}

df = pd.DataFrame(data)
df

   alder  ansiennitet  sykefravær
0     34            5           3
1     45           10           0
2     29            2           5
3     50           20           1
4     38            8           2

In [3]:
X = df[["alder", "ansiennitet"]]  # Inputvariabler
y = df["sykefravær"]              # Det vi ønsker å predikere

In [4]:
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [5]:
ny_ansatt = pd.DataFrame({"alder": [40], "ansiennitet": [7]})
prediksjon = model.predict(ny_ansatt)
print(f"Forventet sykefravær: {prediksjon[0]:.2f} dager")

Forventet sykefravær: 1.14 dager

In [6]:
import pandas as pd

df = pd.read_csv("sykefravaer_data.csv")
df.head()

,ansatt_id,alder,kjønn,stillingsprosent,antall_barn,arbeidsmiljø_score,jobbstress_score,sykefravær
0,1000,30,M,60,4,7.2,6.6,0
1,1001,31,F,100,2,8.3,4.1,1
2,1002,53,F,80,4,5.8,3.7,1
3,1003,32,M,80,3,4.7,7.0,0
4,1004,50,F,50,3,6.1,5.5,0

In [7]:
df.columns

Index(['ansatt_id', 'alder', 'kjønn', 'stillingsprosent', 'antall_barn',
       'arbeidsmiljø_score', 'jobbstress_score', 'sykefravær'],
      dtype='object')

In [8]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ansatt_id           400 non-null    int64
 1   alder               400 non-null    int64
 2   kjønn               400 non-null    object
 3   stillingsprosent    400 non-null    int64
 4   antall_barn         400 non-null    int64
 5   arbeidsmiljø_score  400 non-null    float64
 6   jobbstress_score    400 non-null    float64
 7   sykefravær          400 non-null    int64
dtypes: float64(2), int64(5), object(1)
memory usage: 25.1+ KB

,ansatt_id,alder,stillingsprosent,antall_barn,arbeidsmiljø_score,jobbstress_score,sykefravær
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.00000,400.000000
mean,1199.500000,44.267500,71.100000,2.017500,6.806250,5.01600,0.315000
std,115.614301,11.458586,18.726096,1.393574,1.562078,1.68499,0.465098
min,1000.000000,25.000000,50.000000,0.000000,4.000000,2.00000,0.000000
25%,1099.750000,35.000000,50.000000,1.000000,5.500000,3.60000,0.000000
50%,1199.500000,44.000000,60.000000,2.000000,6.900000,5.10000,0.000000
75%,1299.250000,54.000000,80.000000,3.000000,8.125000,6.40000,1.000000
max,1399.000000,65.000000,100.000000,4.000000,9.500000,8.00000,1.000000

In [9]:
df.isnull().sum()

ansatt_id             0
alder                 0
kjønn                 0
stillingsprosent      0
antall_barn           0
arbeidsmiljø_score    0
jobbstress_score      0
sykefravær            0
dtype: int64

In [10]:
['ansatt_id', 'alder', 'kjønn', 'stillingsprosent', 'antall_barn', 'arbeidsmiljø_score', 'jobbstress_score', 'sykefravær']

['ansatt_id',
 'alder',
 'kjønn',
 'stillingsprosent',
 'antall_barn',
 'arbeidsmiljø_score',
 'jobbstress_score',
 'sykefravær']

In [11]:
X = df[["alder", "kjønn", "stillingsprosent", "antall_barn", "arbeidsmiljø_score", "jobbstress_score"]]
y = df["sykefravær"]

In [12]:
X = pd.get_dummies(X, drop_first=True)

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

predictions = model.predict(X_test)

In [14]:
from sklearn.metrics import r2_score, mean_absolute_error

r2 = r2_score(y_test, predictions)
mae = mean_absolute_error(y_test, predictions)

print(f"R²-score: {r2:.2f}")
print(f"MAE: {mae:.2f}")

R²-score: -0.07
MAE: 0.42

In [15]:
print(type(y_test))
print(len(predictions))

<class 'pandas.core.series.Series'>
80